{
    "extends": [
        "airbnb",
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:react/recommended",
        "plugin:prettier/recommended",
        "prettier/@typescript-eslint",
        "prettier/react"
    ],
    "plugins": [
        "react",
        "jsx-a11y",
        "import"
    ],
    "settings": {
        "import/resolver": {
            "node": {
                "paths": ["src"],
                "extensions": [".js", ".jsx", ".ts", ".tsx"]
            }
        }
    },
    "rules": {
        "import/extensions": [
            "error",
            {
                "js": "never",
                "jsx": "never",
                "ts": "never",
                "tsx": "never"
            }
        ],
        "react/jsx-filename-extension": [
            "error",
            {
                "extensions": [
                ".jsx",
                ".tsx"
                ]
            }
        ],
        "import/prefer-default-export": "off",
        "react/no-unescaped-entities": "off",
        "react/require-default-props":"off",
        "jsx-a11y/anchor-is-valid":"off",
        "react/react-in-jsx-scope":"off",
        "no-console": "off",
        "import/no-unresolved": "off",
        "@typescript-eslint/explicit-module-boundary-types": "off",
        "@typescript-eslint/no-var-requires":"off",
        "@typescript-eslint/ban-types":"off",
        "import/no-extraneous-dependencies":"off",
        "@typescript-eslint/no-explicit-any":"off",
        "no-underscore-dangle":"off",
        "no-use-before-define":"off",
        "no-shadow":"off",
        "no-nested-ternary":"off",
        "react/jsx-props-no-spreading":"off",
        "no-unused-vars": "warn",
        "prettier/prettier": "error"
    }
}